@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 100%;
}
body {
    margin-top: 2.3vh;
}
.container {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw; 
    grid-template-rows: 13vh 8.1vh 78.9vh 78.9vh 21.1vh;
    grid-template-areas: 
        ' head head head head '
        '   .   .    .    .   '
        ' main main main main '
        '   a   a    b    b   '
        ' foot foot foot foot ';
        
}
.header {
    grid-area: head;
}
.container-head {
    display: grid;
    grid-template-columns: 6.3vw 50.1vw 7.3vw 36.3vw;
    grid-template-rows: 13vh;
    grid-template-areas: 
        'logo title . menu';
}
.logo {
    display: grid;
    grid-area: logo;
}
#logo {
    width: 6.3vw;
    height: 12.2vh;
    margin-left: 1.08vw;
    image-rendering: -webkit-optimize-contrast;
}
.head-text {
    display: grid;
    grid-area: title;
    font-family: 'GangwonEduPowerExtraBoldA';
    font-weight: lighter;
    font-size: 0.9rem;
    letter-spacing: 0.97rem;
    margin-left: 1.6vw;
}
#adj-title {
    align-self: center;
}
a {
    text-decoration: none;
    color: black;
}
#realtitle {
    color: #6996FE;
}
.menu-bar {
    display: grid;
    grid-area: menu;
}
.main {
    grid-area: main;
}
#main-video {
    width: 65.22vw;
    height: 78.9vh;
}
.aside {
    display: grid;
    grid-area: a;
    background-color: blueviolet;
}
.bside {
    display: grid;
    grid-area: b;
    background-color: red;
}
.footer {
    display: grid;
    grid-area: foot;
    background-color: teal;
}